<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    {% block meta %}{% endblock %}

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/blueprint/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/blueprint/liquid.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/blueprint/misc.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/blueprint/typography.css" />
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/main.css" />


        {% block extra_styles %}{% endblock %}
    {% endblock %}

    {% block lib_scripts %}
        {% block extra_lib_scripts %}{% endblock %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="container">
    <div id="headerContainer" class="span-24 last border">
        <h1><a href="{% url first %}">Blog</a></h1>
    </div>

    <div id="menuContainer" class="span-24 last border">
        {% block menu %}
        {% for m in menu %}
			<a href = '/search/{{m}}'>{{ m }}</a>
		{% endfor %}
        {% endblock %}
    </div>

    <div id="mainContainer" class="span-15 border">
        {% block main %}
        Content here
        {% endblock %}

    </div>

    <div id="rightContainer" class="span-8 last box">
        {% block addCont %}
            Something here

        {% endblock %}
    </div>

    <div id="footerContainer" class="span-24 last border">

        <h4>
            {{ PROJECT_NAME }} - 2011
        </h4>
    </div>

</div>


</body>
</html>
