{% extends 'base.html' %}
	{% block extra_lib_scripts %}
	{% endblock %}

	{% block main %}
            <div class="entry">
			<form action = "{% if not form_entry.fields.draft %} {% url add_entry %} {% else %} {% url update_entry %} {% endif %}" method ="POST">{% csrf_token %}
				<table>
				        {{ form_entry.as_table }}
				        {{ form_tag.as_table }}
                    <tr>
                        <td colspan = 2 style = "text-align: right;">
                            <input type="submit" name = "submit" value="post" />
                        </td>
                    </tr>
				</table>
			</form>
			</div>

	{% endblock %}