{% extends 'base.html' %}
	{% block extra_lib_scripts %}
	{% endblock %}

	{% block main %}

            <div class="entry">
			<h3>{{ e.name }}</h3>
			{{ e.entry }}<br>
			<b>Автор</b> {{ e.author }}<br>
			<b>Дата публикации</b> {{ e.date_pub }}<br><br>

            <!--Comments-->
             {% for cmnt in e.get_comments %}
                <div class="comment box" id="cmnt{{ cmnt.pk }}" >
                    
                    {{ cmnt.comment }}

                </div>
             {% endfor %}
            
            <!--ADD comment-->
            <br/>
			<form action = '{% url post_comment %}' method ="POST">{% csrf_token %}
				<table>
				    <tr>
				        {{ form.as_table }}
				    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="post" />
                        </td>
                    </tr>
				</table>
			</form>
			</div>

	{% endblock %}