{% extends 'base.html' %}

	{% block main %}
		{% for entry in entrys %}

            <div class="entry">
			<h3><a href="{% if not entry.draft %}{% url view_entry entry.pk %}{% else %}{% url edit_entry entry.pk %}{% endif %}">{{ entry.name }}</a></h3>
			{{ entry.entry }}<br>
			<b>Автор</b> {{ entry.author }}<br>

			{% if entry.date_pub|date:"DATETIME_FORMAT" == entry.date_change|date:"DATETIME_FORMAT" %}
				<b>Дата публикации</b> {{ entry.date_pub }}<br>
			{% else %}
				<b>Дата изменения</b> {{ entry.date_change|date:"DATETIME_FORMAT" }}<br>
			{% endif %}

			<b>Тэги</b>
               {{ entry.get_tags|join:", " }}

			<span class = 'action'><a href ="{% url delete_entry entry.pk %}">удалить</a> | <a href = "{% url edit_entry entry.pk %}">редактировать</a></span>
            </div>

		{% empty %}
		<!-- TODO Доделать -->
            <div class="entry">
				<h3>Рубрик не найденно</h3>
				Попробуйте еще раз
				<form action = '{% url search %}' method = 'GET'>
					<input type='text'  name="q" placeholder="search"/><br>
					<input type='submit' />
				</form>
            </div>

		{% endfor %}
	{% endblock %}
