{% extends 'base.html' %}

	{% block main %}
		{% for entry in entrys %}
			<div class="entry">
			    <h3><a href="{% url view_entry entry.pk %}">{{ entry.name }}</a></h3>
			    {% autoescape off %}{{ entry.entry }}{% endautoescape %}<br>
			    <b>Автор</b> {{ entry.author }}<br>
			    {% if entry.date_pub|date:"DATETIME_FORMAT" == entry.date_change|date:"DATETIME_FORMAT" %}
			    	<b>Дата публикации</b> {{ entry.date_pub }}<br><br>
			    {% else %}
			    	<b>Дата изменения</b> {{ entry.date_change|date:"DATETIME_FORMAT" }}<br>
			    {% endif %}
			    <b>Тэги</b>
                {% for tag in entry.get_tags %}
                    {% if forloop.last %}{{ tag }}.
                        {% else %}
                        {{ tag }},
                    {% endif %}
                {% endfor %}<br><br>
            </div>
		{% empty %}
			<h3>Записей в этой рубрике нету.</h3>
		{% endfor %}

	{% endblock %}