/*
main.css
 * User: alex
 * Date: 21.07.11
 * Time: 2:56
 * Description: Main styles for base.html
**/


/*
Colors
    #63393C;
    #B54E61;
    #D97A5D;
    #C6EB8A;
    #91B582;
    


*/

a{
    color: #B54E61;
}
    a:hover{
        color: #63393C; 
    }

    a:link{
        color: #63393C;
    }

#headerContainer{
    min-height: 100px;

}

#menuContainer{
    min-height: 50px;

}

#mainContainer{
   min-height: 600px;

}

#rightContainer{
    min-height: 400px;

}

#footerContainer{
    text-align: center;
    min-height: 50px;

}


/* Entry */
.entry{
    border: 1px solid gray;
    padding: 2px;
    margin: 3px;


}



