/*
main.css
 * User: alex
 * Date: 21.07.11
 * Time: 2:56
 * Description: Main styles for base.html
**/


/*
Colors
    #63393C;
    #B54E61;
    #D97A5D;
    #C6EB8A;
    #91B582;
*/

a{
    color: #B54E61;
}
    a:hover{
        color: #63393C; 
    }

    a:link{
        color: #63393C;
    }

/*
    Containers
*/
#headerContainer{
    min-height: 100px;

}

#menuContainer {
    min-height: 35px;
	border-bottom: 2px solid #afafa1;
}

#searchContainer input{
    float:left;

}

#mainContainer {
   min-height: 600px;

}

#rightContainer {
	margin-top: 10px;
    min-height: 400px;
	width: 20%;
	float: right;
}

#footerContainer{
    text-align: center;
    min-height: 50px;

}


/* Entry */
.entry {
	border-bottom: 2px solid #afafa1;
    padding: 2px;
    margin: 3px;
}

#mainContainer .entry .action {
	text-align: right; display: block;
}


