/*
main.css
 * User: alex
 * Date: 21.07.11
 * Time: 2:56
 * Description: Main styles for base.html
**/


#headerContainer{
    min-height: 100px;

}

#menuContainer{
    min-height: 50px;

}

#mainContainer{
   min-height: 600px;

}

#rightContainer{
    min-height: 400px;

}

#footerContainer{
    text-align: center;
    min-height: 50px;

}


/* Entry */
.entry{
    

}



